# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

# Markdown files often use trailing spaces for line breaks
[*.md]
trim_trailing_whitespace = false

# Web assets and templates
[*.{html,liquid,njk,css,scss,js}]
indent_size = 2

# Data files
[*.{json,yaml,yml}]
indent_size = 2

# Configuration files
[package.json]
indent_size = 2

# Specific rule for Makefiles or scripts that require tabs (if applicable)
[Makefile]
indent_style = tab
